{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>こめこめ蔵部</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="{% url 'promo_index' %}"><img src="{% static 'images/komema-ku1.png' %}" alt="こめこめ蔵部"></a></h1>
</header>

<main>

<article>

<h2>6月<span>June</span></h2>

<p class="c"><img src="{% static 'images/azisai.jpg' %}" alt=""></p>

<p class="c">
    <br>藤井聡太さんが最年少の名人&7冠獲得になり世間を驚かせました。
    <br>スポーツ界では、テニス、ボクシング、バスケットボールなど様々な分野で盛り上がりを見せました。
    <br>またこの月に新紙幣の発表が財務省から行われ2024月7月をめどに1万円札・5千円札・千円札の発行が予定されている。
    <br>オタマジャクシが元気に泳ぎ始めた今日この頃
    <br>気温の高い日が続いたり記録的な大雨もあったりと
    <br>少し忙しい時期ではありましたが
    <br>上旬ごろ田植えが行われました
    <br>順調に行くと10月ごろには収穫ができることでしょう。
    <br>
    <br>
    <br><img src="{% static 'images/6gatu.jpg' %}" width="600" height="400">
    <br>
    <br>
</p>

<p class="c">
    <br>今回は6月30日の「夏越ごはんの日」について
    <br>あまり知られていない「夏越ごはんの日」
    <br>これは一年の前半の穢れを祓い、残り半年間の無病息災を願う神事「夏越の祓」に食べる 新・行事食になります。
    <br>夏越ごはんは、「夏越の祓」の茅の輪（ちのわ）の由来になった
    <br>蘇民将来(そみんしょうらい)が素盞嗚尊(すさのおのみこと)を「粟飯」でもてなしたという伝承にならった「粟」
    <br>邪気を祓う「豆」などが入った雑穀や五穀、小豆などが入ったごはんがベース
    <br>そこに、邪気を祓うといわれる赤や緑の旬の夏野菜を使った茅の輪をイメージした丸いかき揚げをのせ
    <br>百邪を防ぐといわれる旬のショウガを効かせたおろしだれをかけたごはん
    <br>暑い夏を乗り越えるためのご飯として食べられています。
    <br><img src="{% static 'images/6gatu2.jpg' %}" width="600" height="400">
    <br>
    <br>
    <br>
</p>

<p class="c"><a href="javascript:history.back()">&lt;&lt; 前のページに戻る</a></p>

</article>

</main>

<footer>

<ul id="footermenu">
<li><a href="{% url 'promo_index' %}">ホーム</a></li>
<li><a href="{% url 'promo_contact' %}">お問合せ</a></li>
</ul>

<div class="copy">
<small>Copyright&copy; <a href="{% url 'promo_index' %}">こめこめ蔵部</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<h2>Contents</h2>
<ul class="submenu">
    <li><a href="{% url 'promo_index' %}">ホーム</a></li>
    <li><a href="{% url 'greeting' %}">サイトの紹介</a></li>
    <li><a href="{% url 'news' %}">News</a></li>
    <li><a href="{% url 'dining' %}">お料理紹介</a></li>
    <li><a href="{% url 'service' %}">農家さんの紹介</a></li>
    <li><a href="{% url 'index' %}">オンラインショップ</a></li>
    <li><a href="{% url 'promo_contact' %}">お問合せ</a></li>
</ul>
</nav>

<ul class="icons">
<li><a href=""><i class="bi bi-facebook"></i></a></li>
<li><a href=""><i class="bi bi-twitter"></i></a></li>
<li><a href=""><i class="bi bi-youtube"></i></a></li>
<li><a href=""><i class="bi bi-instagram"></i></a></li>
</ul>

</div>
<!--/#menubar-->

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="bi bi-arrow-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="{% static 'js/jquery.inview_set.js' %}"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/slick.js' %}"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
