{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>こめこめ蔵部</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="{% url 'promo_index' %}"><img src="{% static 'images/komema-ku1.png' %}" alt="東京北海旅館"></a></h1>
</header>

<main>

<section>

<div class="title-bg">
<h2><div class="tate">米料理</div><div class="yoko">dining</div></h2>
</div>



</section>

<section>

<h2>チャーハン</h2>

<div class="c2">

<div class="text text-l">
<p><br>
</p>
<p><br>
</p>
</div>
<!--/.text-->

<div class="image image-r">
<figure><img src="{% static 'images/cha-han.jpg' %}" alt=""></figure>
</div>
<!--/.image-->

</div>

<div class="r">
	<p class="animation-btn">
	<a href="resipi1.html" class="animation-btn-inner">レシピ<i class="bi bi-arrow-right"></i></a>
	</p>
</div>


</section>

<section>

<h2>季節の炊き込み</h2>

<div class="c2">

<div class="text text-r">
	<p><br>
	</p>
	<p><br>
	</p></div>
<!--/.text-->

<div class="image image-l">
<figure><img src="{% static 'images/kaki.jpg' %}" alt=""></figure>
</div>
<!--/.image-->

</div>

<div class="l">
	<p class="animation-btn">
	<a href="resipi2.html" class="animation-btn-inner">レシピ<i class="bi bi-arrow-right"></i></a>
	</p>
</div>


</section>

<section>

	<h2>パエリア</h2>
	
	<div class="c2">
	
	<div class="text text-l">
		<p><br>
		</p>
		<p><br>
		</p></div>
	<!--/.text-->
	
	<div class="image image-r">
	<figure><img src="{% static 'images/paeria.jpg' %}" alt=""></figure>
	</div>
	<!--/.image-->
	
	</div>
	
	<div class="r">
		<p class="animation-btn">
		<a href="resipi3.html" class="animation-btn-inner">レシピ<i class="bi bi-arrow-right"></i></a>
		</p>
	</div>





</section>

<section>

	<h2>ピラフ</h2>
	
	<div class="c2">
	
	<div class="text text-r">
		<p><br>
		</p>
		<p><br>
		</p>
	</div>
	<!--/.text-->
	
	<div class="image image-l">
	<figure><img src="{% static 'images/pirafu.jpg' %}" alt=""></figure>
	</div>
	<!--/.image-->
	
	</div>
	
	<div class="l">
		<p class="animation-btn">
		<a href="resipi4.html" class="animation-btn-inner">レシピ<i class="bi bi-arrow-right"></i></a>
		</p>
	</div>
	
	
</section>
</main>

<footer>

<ul id="footermenu">
<li><a href="{% url 'promo_index' %}">ホーム</a></li>
<li><a href="{% url 'promo_contact' %}">お問合せ</a></li>
</ul>
    
<div class="copy">
<small>Copyright&copy; <a href="{% url 'promo_index' %}">こめこめ蔵部</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<h2>Contents</h2>
<ul class="submenu">
    <li><a href="{% url 'promo_index' %}">ホーム</a></li>
    <li><a href="{% url 'greeting' %}">サイトの紹介</a></li>
    <li><a href="{% url 'news' %}">News</a></li>
    <li><a href="{% url 'dining' %}">お料理紹介</a></li>
    <li><a href="{% url 'service' %}">農家さんの紹介</a></li>
    <li><a href="{% url 'index' %}">オンラインショップ</a></li>
    <li><a href="{% url 'promo_contact' %}">お問合せ</a></li>
</ul>
</nav>

<ul class="icons">
<li><a href=""><i class="bi bi-facebook"></i></a></li>
<li><a href=""><i class="bi bi-twitter"></i></a></li>
<li><a href=""><i class="bi bi-youtube"></i></a></li>
<li><a href=""><i class="bi bi-instagram"></i></a></li>
</ul>

</div>
<!--/#menubar-->

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="bi bi-arrow-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="{% static 'js/jquery.inview_set.js' %}"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/slick.js' %}"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
